.login-form {
    width: 50%;
    margin: 25% auto auto 55%;
}

.message {
    color: #5E5694;
}

.register-btn {
    color: #000;
}

.form-group {
    width: 100%;
}

.register-form {
    color: #000000;
}
