{% extends 'layout.html' %}
{% block content %}
    <div class="card">

        <div class="card-body">
            <a href="{% url 'blog:blog-list' %}"><- Back to Blog List</a>
            <h2 class="card-title">{{ blog.title }}</h2>
            <div class="text-muted">
            Posted on {{ blog.created_at}} by {{ blog.author}}
            </div>
            <img src="{{ blog.featured_image.url }}" alt="Featured Image" class="card-img-top">
            <p class="card-text">{{ blog.description }}</p>
        </div>
    </div>
{% endblock %}