{% load static %}
<!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <div class="card my-4">
          {% if request.user.is_authenticated %}
              <div class="profile-header card-header clearfix">

                <h5>Profile</h5>
                <a href="{% url 'blog:blog-add' %}"><button class="btn btn-sm btn-primary">Create Blog</button></a>
              </div>

              {% if request.user.image %}
              <img src="{{ request.user.image.url }}" alt="" class="profile-img">
                  {% else %}
                  <img src="{% static 'img/default-img.png' %}" class="profile-img" alt="">

                  {% endif %}
              <form action="{% url 'user:upload-image' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                  <input id='fileid' name="profile-img" type='file' hidden/>
                  <button class="btn btn-primary" id="upload-btn" hidden>Upload Image</button>
              </form>
              <button class="btn btn-primary" id="profile-upload">Upload Image</button>

          <div class="card-body user-info">
              <p>{{ request.user.username }}</p>
              <p>{{ request.user.email }}</p>
            </div>
              <a href="{% url 'user:user-profile' %}"><button class="btn btn-sm btn-danger view-profile-btn">View Profile</button></a>

              {% else %}
              <div class="card-body">
                  <a href="{% url 'authentication:login-user' %}"><button class="btn btn-danger">Login</button></a>
              </div>

      {% endif %}
    </div>
        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
              <form action="{% url 'blog:blog-list' %}">
            <div class="input-group">
              <input type="text" class="form-control" name="q" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
              </form>
            </div>
          </div>
        </div>

        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
                  <div class="col-lg-6">
                    <ul class="list-unstyled mb-0">
                    {% for category in categories %}
                      <li>
                        <a href="{% url 'blog:blog-list' %}?category={{ category.name }}">{{ category.name }}</a>
                      </li>
                    {% endfor %}
                    </ul>
                  </div>
            </div>
          </div>
        </div>


        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Recent Posts</h5>
          <div class="card-body">
            {% for blog in blogs %}
                <a href="{% url 'blog:blog-detail' blog.slug %}"><p>{{ blog.title }}</p></a>
            {% endfor %}
          </div>
        </div>
      </div>

<script>
    document.getElementById('profile-upload').addEventListener('click', openDialog);

    function openDialog() {
      document.getElementById('fileid').click();
    }
    document.getElementById('fileid').addEventListener('change', function(e){
        document.getElementById('upload-btn').click();

    })
</script>